.login-form {
    display: flex;
    justify-content: center;
    margin: 100px 50px;
}
  
.button-flex {
    display: flex;
    justify-content: flex-end;
}

mat-card-title {
  display: flex;
  justify-content: center;
}

.mat-form-field {
    width: 100%;
    min-width: 300px;
}
