.action-icon {
    background: white;
    margin: 2px;
    border-radius: 5px;
}
.action-icon.delete {
    color: #da1212;
}
.action-icon.info {
    color: #024699 !important;
}
.action-icon.edit {
    color: #e6c409 !important;
}

.content {
    padding: 2.5% 5% 100%;
}

.nav-link {
    text-decoration: none;
    font-size: 14px;
    color: black;
}

.spinner-position {
    left: 50%;
    margin-left: -4em;
}

.table {
    text-align: center;
}

.example-stretched-tabs {
    max-width: 500px;
    margin-left: auto;
}