.form-element {
    padding: 5px 0px 10px 2px;
    width: 100%;
}

.fullwidth {
    width: 100%;
}

.custom-field {
    width: 50%;
    margin-right: 12px;
}

agm-map {
    width: 600px;
    height: 375px;
    padding: 5px;
}