<h3>Realizar Contrato</h3>
<form (ngSubmit)="onSubmit()" #myForm="ngForm">
    <table class="fullwidth" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="form-element" appearance="fill">
                    <mat-label>Fecha de inicio</mat-label>
                    <input matInput [matDatepicker]="picker1">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="form-element" appearance="fill">
                    <mat-label>Fecha de fin</mat-label>
                    <input matInput [matDatepicker]="picker2">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </td>
        </tr>
    </table>
    <mat-form-field class="form-element" appearance="fill">
        <mat-label>Tipo de pedido</mat-label>
        <mat-select>
            <mat-option value="1">Pedido al contado</mat-option>
            <mat-option value="2">Pedido por consignación</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="form-element">
        <input matInput placeholder="Dirección" ngx-google-places-autocomplete [options]='options'
            #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" />
    </mat-form-field>
    <p>
        <button type="submit" mat-raised-button>Submit</button>
    </p>
</form>