.nav-link {
    text-decoration: none;
    color: black;
}

.side-menu-link {
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.content {
    padding: 5% 5% 100%;
}

.side-items {
    padding: 10px 50px 25px 20px;
}