.nav-link {
    text-decoration: none;
    color: whitesmoke;
}

.side-menu-link {
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.side-items {
    width: 225px;
}

.side-nav {
    padding: 10px 50px 25px 20px;
}

.tool-bar-link {
    background-color: #053F5E;
    color: whitesmoke;
}