<mat-toolbar class="tool-bar-link">

  <button mat-icon-button (click)=sidenav.toggle()>
    <mat-icon>menu</mat-icon>
  </button>

  <a class="nav-link" [routerLink]="['/']"><span>AMADIS</span></a>

</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav #sidenav mode="over" class="side-items">

    <mat-nav-list *ngFor="let rol of roles">
      <h2 matSubheader> {{ rol.name }} </h2>
      <a *ngFor="let permission of rol.permissions" class="side-menu-link" mat-list-item (click)="sidenav.close()"
        [routerLink]="[permission.slug]">
        <mat-icon matListIcon>{{ permission.icon }}</mat-icon>{{ permission.name }}
      </a>

      <mat-divider></mat-divider>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>