<div>
    <h2>Llenar Carrito</h2>
</div>

<!-- Loading -->
<div *ngIf="isLoading">
    <div>
        <mat-spinner class="spinner-position"></mat-spinner>
    </div>
</div>
<div [hidden]="isLoading">
    <mat-list>
        <mat-list-item *ngFor="let productItem of productsList">
            <mat-icon mat-list-icon>sports_bar</mat-icon>
            <div mat-line>{{productItem.product.name}}</div>
            <div mat-line>{{productItem.presentation.name}}</div>
            <div mat-line>Precio: {{productItem.price}} </div>
            <button mat-icon-button (click)="removeProduct(productItem)"><mat-icon>remove_circle_outline</mat-icon></button>
            <div>{{productItem.quantity || 0}}</div>
            <button mat-icon-button (click)="addProduct(productItem)"><mat-icon>add_circle_outline</mat-icon></button>
        </mat-list-item>
    </mat-list>
</div>
<p>
    <button style="float: right;" mat-icon-button [mat-dialog-close]="newProductsList"><mat-icon>shopping_cart</mat-icon></button>
</p>
